.navbar-btn {
  --bs-btn-color: #000000;
  --bs-btn-bg: #0d6dfd00;
  --bs-btn-border-color: #0d6dfd00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #0b5dd700;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.general-btn {
  padding: 12px 24px;
  color: var(--color-dm-primary);
  border: 1px solid var(--color-dm-primary);
  background-color: transparent;
}
.general-btn:hover {
  background-color: transparent;
}
.general-btn:active {
  background-color: transparent;
  --bs-btn-active-color: black;
}
.green-hover:hover,
.green-hover:active {
  --bs-btn-active-bg: var(--color-green);
  --bs-btn-active-border-color: var(--color-green);
  border: 1px solid var(--color-green);
  color: var(--color-green);
}
.red-hover:hover,
.red-hover:active {
  --bs-btn-active-bg: var(--color-red);
  --bs-btn-active-border-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.navbar-btn {
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  border: none;
  padding: 12px 25px;
  transition: 0s;
}
.navbar-btn:hover,
.navbar-btn:focus,
.navbar-btn:active {
  /* Niech zostanie czarne -czytelniejsze */
  color: black;
  --bs-btn-active-color: black;
}

.navbar-btn:hover {
  margin-top: -12px;
  padding-top: 0;
  padding-bottom: 24px;
}
.navbar-btn:active {
  margin-top: -6px;
  padding-top: 0;
  padding-bottom: 18px;
}
.lime-bg {
  background-color: var(--color-button-lime);
}
.lime-bg:hover,
.lime-bg:active {
  --bs-btn-active-bg: var(--color-button-lime);
  --bs-btn-active-border-color: var(--color-button-lime);
  background-color: var(--color-button-lime);
  border-top: 12px solid var(--color-button-lime);
}

.red-bg {
  background-color: var(--color-buttom-red);
}
.red-bg:hover,
.red-bg:active {
  --bs-btn-active-bg: var(--color-buttom-red);
  --bs-btn-active-border-color: var(--color-buttom-red);
  background-color: var(--color-buttom-red);
  border-top: 12px solid var(--color-buttom-red);
}

.green-bg {
  background-color: var(--color-green);
  --bs-btn-active-bg: var(--color-green);
  --bs-btn-active-border-color: var(--color-green);
}
.green-bg:hover,
.green-bg:active {
  background-color: var(--color-green);
  border-top: 12px solid var(--color-green);
}
.purple-bg {
  background-color: var(--color-button-purple);
}
.purple-bg:hover,
.purple-bg:active {
  --bs-btn-active-bg: var(--color-button-purple);
  --bs-btn-active-border-color: var(--color-button-purple);
  background-color: var(--color-button-purple);
  border-top: 12px solid var(--color-button-purple);
}
.teal-bg {
  background-color: var(--color-button-teal);
}
.teal-bg:hover,
.teal-bg:active {
  --bs-btn-active-bg: var(--color-button-teal);
  --bs-btn-active-border-color: var(--color-button-teal);
  background-color: var(--color-button-teal);
  border-top: 12px solid var(--color-button-teal);
}
