:root {
  /*dark mode*/
  --color-dm-primary: #ffffff;
  --color-dm-secondary: #7c7c7c;
  --color-dm-background: #000000;

  /* light mode */
  --color-lm-primary: #000000;
  --color-lm-secondary: #7c7c7c;
  --color-lm-background: #ffffff;

  /* colors */
  --color-blue: #01fff4;
  --color-pink: #ffffff;
  --color-red: #fe0000;
  --color-yellow: #fff205;
  --color-green: #7cff01;

  /* resources */
  --color-button-lime: #b7ff00;
  --color-buttom-red: #ff6961;
  --color-button-purple: #8e01fe;
  --color-frame: #ffffff;
  --color-liquid: #660ccc65;
}

/* KEYFRAMES */

@keyframes rgb-text-animation {
  10% {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--logo-blue),
      0 0 5em var(--logo-blue), 0 0 0.1em var(--logo-blue),
      0 10px 3px var(--color-dm-background);
  }
  25% {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--logo-pink),
      0 0 5em var(--logo-pink), 0 0 0.1em var(--logo-pink),
      0 10px 3px var(--color-dm-background);
  }
  40% {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--logo-red),
      0 0 5em var(--logo-red), 0 0 0.1em var(--logo-red),
      0 10px 3px var(--color-dm-background);
  }
  60% {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--logo-yellow),
      0 0 5em var(--logo-yellow), 0 0 0.1em var(--logo-yellow),
      0 10px 3px var(--color-dm-background);
  }
  80% {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--logo-green),
      0 0 5em var(--logo-green), 0 0 0.1em var(--logo-green),
      0 10px 3px var(--color-dm-background);
  }
}

@keyframes rgb-box-animation {
  0% {
    box-shadow: 0 -10px 100px, 0 0 1px, 0 0 1em var(--color--dm-primary);
  }
  10% {
    box-shadow: 0 -10px 100px, 0 0 1px, 0 0 1em var(--logo-blue);
  }
  25% {
    box-shadow: 0 -10px 100px, 0 0 1px, 0 0 1em var(--logo-pink);
  }
  40% {
    box-shadow: 0 -10px 100px, 0 0 1px, 0 0 1em var(--logo-red);
  }
  60% {
    box-shadow: 0 -10px 100px, 0 0 1px, 0 0 1em var(--logo-yellow);
  }
  80% {
    box-shadow: 0 -10px 100px, 0 0 1px, 0 0 1em var(--logo-green);
  }
  100% {
    box-shadow: 0 -10px 100px, 0 0 1px, 0 0 1em var(--color--dm-primary);
  }
}
