.home-container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  width: 1216px;
  position: fixed;
  border: 1px solid var(--color-dm-primary);
  animation: rgb-box-animation linear infinite 10s;
  border-radius: 10px;
  z-index: 1030;
}

.home {
  font-family: "DM Sans", sans-serif;
  position: static;
  padding: 20px;
  color: var(--color-dm-primary);
  background-color: var(--color-dm-background);
}

.image-container {
  width: auto;
  height: 100%;
  display: flex;
}

.image-container img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-frame);
  border-radius: 2%;
}

.home-tile {
  padding: 70px 3vw;
  display: flex;
  gap: 50px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.tile div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  border-radius: 8px;
  flex-wrap: wrap;
}


.home-tile p {
  font-size: 25px;
  text-shadow: 1px 1px 2px var(--color-dm-secondary);
}

/*.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}*/

@media (max-width: 875px) {
  .home-tile {
    flex-direction: column;
  }
}
