.home {
  background-color: black;
  color: white;
  border-radius: 8;
  animation: boxShadowAnimation 25s infinite ease;
  font-family: "Kanit", sans-serif;
}

@keyframes boxShadowAnimation {
  0% {
    box-shadow: 0px 0px 30px 0px #e60002;
  }
  17% {
    box-shadow: 0px 0px 30px 0px #fffe33;
  }
  33% {
    box-shadow: 0px 0px 30px 0px #02ff02;
  }
  50% {
    box-shadow: 0px 0px 30px 0px #7ff5ff;
  }
  67% {
    box-shadow: 0px 0px 30px 0px #fe3303;
  }
  83% {
    box-shadow: 0px 0px 30px 0px #8e01fe;
  }
  100% {
    box-shadow: 0px 0px 30px 0px #e60002;
  }
}

.image-container {
  width: auto;
  height: 100%;
  display: flex;
}

.image-container img {
  width: 100%;
  height: 100%;
  border: 1px solid#8e01fe;
  border-radius: 2%;
}

.tile {
  padding: 70px 3vw;
  display: flex;
  gap: 50px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-family: "Kanit", sans-serif;
}

.tile div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  border-radius: 8px;
  flex-wrap: wrap;
  font-family: "Kanit", sans-serif;
}

p {
  font-size: 25px;
  text-shadow: 1px 1px 2px rgba(241, 236, 236, 0.2);
}

/*.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}*/
