.modal-content {
  min-height: 300px;
  width: 600px;
  box-shadow: 0px 0px 35px 10px rgba(255, 255, 255, 0.5);
  border: solid 1px rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
}
.modal-header {
  justify-content: center;
  height: 100px;
  border: none;
}
.modal-logo b span {
  font-size: 3rem;
}
.modal-body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body input {
  color: white;
  border: 1px solid white;
  background-color: black;
  text-align: center;
}
.modal-body input:focus {
  color: white;
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  background-color: black;
}
.modal-body input::placeholder {
  color: white;
  text-align: center;
}
.modal-body .form-check,
.modal-body .form-label {
  color: white;
}
.modal-footer {
  border-top: 0 none;
  display: flex;
  justify-content: space-around;
}
