.modal-content {
  padding: 10px;
}
.modal-content {
  min-height: 300px;
  width: 600px;
  box-shadow: 0px 0px 35px 10px rgba(255, 255, 255, 0.5);
  border: solid 1px var(--color-dm-primary);
  background-color: var(--color-dm-background);
  border-radius: 20px;
  color: var(--color-dm-primary);
}
.modal-header {
  justify-content: center;
  height: 100px;
  border: none;
}
.modal-logo b span {
  font-size: 3rem;
}
.modal-body {
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body input {
  color: var(--color-dm-primary);
  border: 1px solid var(--color-dm-primary);
  background-color: var(--color-dm-background);
  text-align: center;
}
.modal-body input:focus {
  color: var(--color-dm-primary);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid var(--color-dm-primary);
  background-color: var(--color-dm-background);
}
.modal-body input::placeholder {
  color: var(--color-dm-primary);
  text-align: center;
}
.modal-body .form-check,
.modal-body .form-label {
  color: var(--color-dm-primary);
}
.modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.modal-footer button {
  padding: 6px 14px;
}
.modal-footer span {
  font-size: 0.8rem;
}
.form-check {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.form-check-label {
  text-align: left;
}
