:root {
  --logo-blue: #7ff5ff;
  --logo-pink: #8e01fe;
  --logo-red: #e60002;
  --logo-yellow: #fffe33;
  --logo-green: #02ff02;
} /*Wpisałam kolory z naszego projektu, ale logo wydaje się jakieś jasne, więc chyba ta zmiana, nie powinna być uwzględniona*/

nav {
  display: contents;
  width: 100%;
}
.navbar-nav {
  width: 60%;
  margin-top: 0;
}
.bg-black {
  /* --bs-black-rgb: var(--color-dm-primary); */
  /* background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important */
  --bs-black-rgb: var(--color-dm-background-rbg);
  --bs-bg-opacity: 1;
}
.logo {
  text-align: center;
  margin: auto;
  font-family: "Pacifico", cursive;
  /* text-transform: uppercase; */
}
.logo b {
  font-size: 5rem;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffffff, 0 0 0.5em #ffffff,
    0 0 0.1em #ffffff, 0 10px 3px #000;
  animation: rgb-text-animation linear infinite 10s;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
