nav {
  background: rgba(0, 0, 0, 0.4);
}
.navbar-nav {
  margin-top: 0;
}
.logo {
  text-align: center;
  margin: auto;
}
.logo b {
  font-size: 5rem;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
