.sidepanel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 450px; /*Hej co myślisz o tym, żeby wysokość tego elementu wynosiła 550px? Czy wtedy lista i nazwa drinka będą zawsze mieścić się w ramce? Patrzyłam w devtools, że chyba zmienia to widok?- NK*/
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 40vh;
  right: -450px;

  overflow: visible;
  padding: 60px;
  transition: 0.5s;
}
.no-padding {
  padding: 0;
}
#carouselPanel {
  left: 50px;
}
.show {
  right: 50px;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #444;
}
