.panels {
  user-select: none;
  position: fixed;
  height: 450px;
  width: 450px;
  color: var(--color-dm-primary);
  border: 1px solid var(--color-dm-primary);
  background-color: var(--color-dm-background-see-through);
  border-radius: 20px;
  top: calc((100% + 176px) / 2);
  transform: translateY(-50%);
  transition: 0.5s;
  z-index: 1;
}
.sidepanel-left {
  left: 50px;
}
.sidepanel-right {
  display: flex;
  align-items: center;
  right: 50px;
  padding: 10px;
}
.sidepanel-left .sidepanel-content {
  overflow-y: auto;
}
.sidepanel-content {
  margin: auto;
}
.sidepanel-content div {
  margin: auto;
}
.no-padding {
  padding: 0;
}
.sidel {
  left: 50px;
}

.panels .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--color-dm-background);
  color: var(--color-dm-primary);
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: var(--color-dm-background);
}
