.sidepanel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: var(--color-dm-primary);
  border: 1px solid var(--color-dm-primary);
  border-radius: 5px;
  gap: 40px;
  background-color: var(--color-dm-background-see-through);
  height: 450px;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 40vh;
  right: -450px;

  overflow: visible;
  padding: 60px;
  transition: 0.5s;
}
#drinkPanel .sidepanel-content {
  overflow-y: auto;
}
.no-padding {
  padding: 0;
}
#carouselPanel {
  left: 50px;
}
.show {
  right: 50px;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--color-dm-background);
  color: var(--color-dm-primary);
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: var(--color-dm-background);
}
