.userpanel {
  user-select: none;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  border-radius: 20px;
  color: var(--color-dm-primary);
}
.userpanel-background {
  height: 79vh;
  position: relative;
  background: radial-gradient(
    136.83% 55.75% at 50% 41.78%,
    var(--mixit-bg-lighter-gradient) 28.06%,
    var(--mixit-bg-darker-gradient) 100%
  );
  mix-blend-mode: normal;
}
.userpanel-options {
  gap: 20px;
}
.userpanel h2 {
  font-weight: bold;
}
/* .userpanel-change-email {
  min-height: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.userpanel-change-password {
  min-height: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
} */
.userpanel-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
