/* resources import */

@import url(./style/button.css);
@import url(./style/modal.css);
@import url(./style/nav.css);

@import url(./style/carousel.css);

@import url(./style/sidepanel.css);
@import url(./style/select-bar.css);


/* pages import */

@import url(./style/home.css);
@import url(./style/mixit.css);

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

body {
  background-color: black;
  position: relative;
}
.home {
  border: 1px solid white;
  border-radius: 10px;
}
.fade {
  background-color: rgba(0, 0, 0, 0.8);
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
