@import url(./style/colors.css);

/* resources import */

@import url(./style/button.css);
@import url(./style/modal.css);
@import url(./style/nav.css);

@import url(./style/carousel.css);

@import url(./style/sidepanel.css);
@import url(./style/select-bar.css);

/* pages import */

@import url(./style/home.css);
@import url(./style/mixit.css);
@import url(./style/userpanel.css);

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

body {
  font-family: "Tilt Neon", cursive;
  background-color: var(--color-dm-background);
  position: relative;
}
/* .fade {
  background-color: var(--color-dm-background);
} */
.card {
  padding: 2em;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.toasty {
  /* border: solid 1px rgb(255, 255, 255); */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: white;
  border: 1px solid white;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 10000000;
  position: fixed;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
}
.show-toasty {
  bottom: 10vh;
}
.toasty p {
  margin: 0;
}
.centered-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.ingredients {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.ingredient.show {
  animation: bounce-in 1s ease-in;
  display: block;
}
.ingredient {
  display: none;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
